body {
  width: 100vw; height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
}

.header {
  font-size:  1.5em;
  border-bottom:  1px solid #e7e7e7;
  padding: 10px;
  display: flex;
  position: relative;
}

.symbol-input {
  position: absolute;
  right: 60px;
  bottom: 8px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  outline: none;
}

.search {
  position:  absolute;
  right: 30px;
  bottom: 8px;
  width: 25px;
  height: 25px;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  border-radius: 100%;
  border:  none;
  outline: none;
}

.repeat {
  position:  absolute;
  right: 0px;
  bottom: 8px;
  width: 25px;
  height: 25px;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  border-radius: 100%;
  border:  none;
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  background: #cccccc
}

button:active {
  background: #bbbbbb
}

.header-text span {
  padding: 0 10px;
}

.symbol,
.name {
  border-right: 1px solid #000000
}

.exchange {
  font-size:  0.9em;
  color: #999999;
}

.body {
  padding: 20px;
  display: flex;
  height: calc(100% - 80px);
}

.body >div {
  flex: 1;
}

.body >div:first-of-type {
  border-right: 1px solid #e7e7e7;
}

.current .price-display {
  font-size: 2em;
  width: 125px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7
}

.price-underline {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 2px;
  display: flex;
  padding-left: 10px;
}

.current-price {
  display:  flex;
  flex-direction:  column;
}

.current {
  display:  flex;
  align-items: flex-end;
}

.prev-close {
  width: 125px;
  text-align: center;
  padding-top: 5px; 
}

.price-change {
  padding-right: 2px;
  padding-left: 5px;
}

.chart-container {
  height: 300px;
  margin-top: 20px;
  width: 95%;
  border: 1px solid #e7e7e7;
  display: flex;
  align-items: flex-end;
}

.bar {
  transition:  250ms;
}

.bar:hover {
  transform: scale(1.2);
  transform-origin: bottom;
}

.bar div {
  transition: 500ms;
}

.bar:hover div {
  transform: rotate(0deg) !important;
  font-weight: 600;
  background: #e7e7e7;
  padding: 2px;
}

.days-change {
  padding: 10px;
  background: #e7e7e7;
  width: calc(95% - 20px);
}

.days-change div {
  display: inline-block;
}

.news-header {
  font-size: 1.5em;
  padding: 10px 5px;
  margin: 10px;
  border-bottom: 1px solid #e7e7e7
}

.news-container {
  padding: 10px;
}

.news-container div {
  padding: 5px;
}

.news-container div a {
  text-decoration: none;
}